@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

#parent{
	background-color: slategrey;
}

.jumbotron {
    min-height: 500px;
}

.but {
    min-width: 50px !important;
    min-height: 50px !important;
    margin-bottom: 2px;
}

button{
    width: 24%;
    padding-left: 5%;
    padding-top: 8%;
}


#log{
    font-size: xx-large;
    text-align: center;
}
/*footer*/
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline
}
.foot-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    text-align: center;
}
/*footer*/
